html, body{
    text-align: center;
    background-color: white;
}

h1{
    font-family: 'Saira Stencil One', cursive;
}

h3{
    font-family: 'Saira Stencil One', cursive;
}

p{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.2em;
}

label{
    font-family: 'Saira Stencil One', cursive;
    font-size: 1.2em;
}

input{
    font-family: 'Saira Stencil One', cursive;
    font-size: 1.2em;
}

div{
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 1%;
    padding: 1%;
    background-color: lightgray;
}